apiVersion: apps/v1
kind: Deployment
metadata:
  name: login-app
  labels:
    app.kubernetes.io/part-of: kube-itog-tsitanya
spec:
  replicas: 1
  selector:
    matchLabels:
      app: login-app
  template:
    metadata:
      labels:
        app: login-app
        app.kubernetes.io/part-of: kube-itog-tsitanya
    spec:
      containers:
        - name: login-app
          image: docker.io/REPO_OWNER/login-service:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: login-config
