apiVersion: apps/v1
kind: Deployment
metadata:
  name: root-app
  labels:
    app.kubernetes.io/part-of: kube-itog-tsitanya
spec:
  replicas: 2
  selector:
    matchLabels:
      app: root-app
  template:
    metadata:
      labels:
        app: root-app
        app.kubernetes.io/part-of: kube-itog-tsitanya
    spec:
      containers:
        - name: root-app
          image: docker.io/REPO_OWNER/root-service:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: root-config
